DJANGO_SECRET_KEY=troque-por-uma-chave-segura
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
FRONTEND_GOOGLE_CALLBACK_URL=http://localhost:5500/pages/auth/google-callback/index.html

# Credenciais do OAuth 2.0 do Google
# URI de redirecionamento autorizado no Google Cloud:
# http://localhost:8000/accounts/google/login/callback/
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
